---
const { link, text } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="inline-flex w-auto px-10 py-2 mt-5 text-sm font-semibold duration-300 ease-out border rounded-full bg-blue-900/80 dark:bg-white dark:text-neutral-900 text-neutral-100 hover:border-blue-700 border-blue-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900"
>
  {text}
</a>